.offer{
  display: flex;
  min-width: 100px;
  min-height: 100px;
  max-width: 400px;
  box-shadow: 0 0 25px gray;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 25px;
  gap: 15px;
  color: var(--color-main);
}

.offer p{
  color: var(--color-gray);
  font-weight: 500;
  font-size: 14px;
}

.offer .cta{
  background-color: var(--color-sky_blue);
  color: white;
  display: flex;
  align-items: center;
  padding: 15px 25px;
  border-radius: 15px;
  font-weight: bold;
}

.offer .cta:hover{
  background-color: var(--color-main);
}