.hero, .hero .heroBg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.hero .heroBg img{
  width: 100%;
  height: 100vh;
}

.hero .content{
  z-index: 1;
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.322);
  text-align: center;
}

.hero .content h1{
  font-family: Seisdedos;
  font-size: 36px;
  border: solid;
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: inset 0 0 50px black;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  gap: 25px;
}

.hero .content h1 p{
  display: flex;
  align-items: center;
  gap: 7px;
}

.hero .content h1 span{
  display: block;
  letter-spacing: 0;
  background-color: white;
  color: black;
  padding: 10px;
  line-height: 30px;
  border-radius: 5px 5px 60px 60px;
}

.hero .content h2{
  color: rgb(255, 255, 255);
  max-width: 70%;
  font-weight: 900;
  margin-bottom: 20px;
}

.hero .content .cta{
  background-color: var(--color-main);
  padding: 15px 25px;
  border-radius: 15px;
  font-weight: 600;
  gap: 5px;
  display: flex;
  align-items: center;
}

.hero .content .cta:hover{
  background-color: var(--color-sky_blue);
}