@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

.logo{
  display: flex;
  max-width: fit-content;
  align-items: center;
  padding: 5px;
  gap: 5px;
  border-radius: 5px 5px 50px 50px;
  box-shadow: 5px 5px gray;
}

.logo h1{
  font-size: 18px;
  font-weight: 500;
}

.logo img{
  height: 50px;
  width: 50px;
  border-radius: inherit;
}

.logo h1 span{
  text-shadow: none;
}

.logo h1 p{
  display: block;
  transform: translate(15px, -30px);
  opacity: 0.8;
  display: none;
}