/* fonts imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face{
  font-family: "Conformity";
  src: url("/fonts/conformity.ttf");
}

@font-face{
  font-family: "Seisdedos";
  src: url("/fonts/seisdedos.ttf");
}

:root{
  --color-main: #1b1e32;
  --color-gray_blue: rgba(27, 30, 50, 0.082);
  --color-gray: rgb(195, 195, 207);
  --color-golf: #daa520;
  --color-sky_blue: rgb(22, 180, 228);
}

*{
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

body{
  font-family: Poppins;
  background-color: white;
}

.app{
  max-width: 100vw;
  overflow-x: hidden;
  margin: auto;
}

a{
  color: unset;
  text-decoration: unset;
}

ul{
  list-style: none;
}

button{
  background: unset;
  border: none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
}

input, textarea{
  padding: 5px 10px;
  border-radius: 10px;
  border: unset;
  stroke: unset;
}

textarea{
  font-family: inherit;
  max-width: 100%;
  min-width: 100%;
}

svg {
  font-size: 1.5rem;
  color: inherit;
  /* border: solid; */
}

img{
  object-fit: cover;
}

.flexed{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.separator1{
  width: 100%;
  max-width: 90vw;
  height: 2px;
  opacity: 0.5;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.199), white, white, white, white, rgba(255, 255, 255, 0.199));
  margin: 25px 0;
  border-radius: 50px;
}

.vert-separator{
  width: 1px;
  height: 80%;
  background-color: white;
  border-radius: 5px;
}

.oblic-line{
  width: calc(100% + 15px);
  /* width: 100%; */
  position: absolute;
  height: 3px;
  background-color: white;
  /* top: 2px; */
  transform: rotate(45deg);
}

.btn-share{
  background: linear-gradient(-30deg, var(--color-dark_blue), orange);
  /* background-size: 200% 200%; */
  /* animation: gradient 10s ease infinite; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  gap: 20px;
  padding: 10px 30px;
  font-weight: bolder;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 50px;
  box-shadow: 5px 5px 5px black;
  font-family: Poppins;
}

.btn-share svg{
  color: white;
}

.loader-message{
  font-weight: 700;
  color: orange;
  text-decoration: underline;
  letter-spacing: -0.9px;
}

.color-red{
  color: rgb(241, 70, 70);
}

.color-gray{
  color: rgb(209, 209, 209);
}

.bg-red{
  background-color: rgb(241, 70, 70);
  color: white;
}

.bg-gray{
  background-color: rgb(209, 209, 209);
  color: black;
}